<div class="section-secondary">
  <div class="grid-container grid-y min-height-vh">
    <!-- masthead padding  top -->
    <div class="cell auto">
    </div>
    <!-- masthead centered content top -->
    <div class="cell shrink text-center">
      <p class="info-text"><small>Get In Touch</small></p>
      <div class="devide-secondary"></div>
      <h2 class="h1">Use the form below for a quote or an inquiry</h2>

      <form netlify data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fi-alert"></i> There are some errors in your form.</p>
        </div>
        <div class="grid-container">
          <div class="grid-x grid-margin-x grid-padding-y">
            <div class="cell small-12 medium-6">
              <input name="first_name" type="text" placeholder="First Name *" required>
            </div>
            <div class="cell small-12 medium-6">
              <input name="last_name" type="text" placeholder="Last Name">
            </div>
            <div class="cell medium-6">
              <input name="email" type="email" placeholder="email@example.com *" required>
            </div>
            <div class="cell small-12 medium-6">
              <input name="phonenumber" type="number" pattern="number" placeholder="Contact Number">
            </div>
            <div class="cell small-12 medium-12">
              <textarea name="message" rows="8" cols="80" placeholder="Message *" required></textarea>
            </div>
            <div class="cell">
              <input class="button" name="submitform" type="submit" value="Send">
            </div>
          </div>
        </div>
      </form>

    </div>
    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>
    <div class="cell shrink">
      <div class="page-down shrink"></div>
    </div>
  </div>

</div>
