

<div class="section-secondary">
  <div class="grid-container grid-y min-height-vh">
    <!-- masthead padding  top -->
    <div class="cell auto">
    </div>
    <!-- masthead centered content top -->
    <div class="cell shrink text-center">
      <p class="info-text"><small>Frequently Asked Questions</small></p>
      <div class="devide-secondary"></div>

      <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

        <li class="accordion-item is-active" data-accordion-item>
          <a class="accordion-title h2" href="#">How much does Soulpower cost?</a>
          <div class="accordion-content" data-tab-content>
            <p>Send <a href="/contact.html">us an email</a> for a quote. Please include the date and location of your function and any other relevant details.</p>
          </div>
        </li>

        <li class="accordion-item is-active" data-accordion-item>
          <a class="accordion-title h2" href="#">What kind of music do you play?</a>
          <div class="accordion-content" data-tab-content>
            <p>We play classic Soul / Motown and Funk with a modern twist. You can sample our <a href="/our-sound.html">playlist here</a> using the Dukebox. We have a well honed set that keeps everyone dancing all night and interacts with the audience.  Our music is unique as it appeals to all age groups and so will make an all inclusive atmosphere for any party.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">How long do you play for?</a>
          <div class="accordion-content" data-tab-content>
            <p>We usually play for approximately 2 x 55 minute sets</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">What are Soulpower’s different line-ups?</a>
          <div class="accordion-content" data-tab-content>
            <p>We start with a basic seven piece band.  Any smaller and you lose the unique sound of the Stax/Motown sound.  This consists of Vocals, Two brass, Keyboards, Drums, Guitar, and Bass.  We can supply extra musicians for a fuller sound and a female vocalist.  When we provide a quote we will tell you how much the different sizes of band cost so you can choose a line-up according to your requirements and budget.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">Do you provide music between sets?</a>
          <div class="accordion-content" data-tab-content>
            <p>We can play CD/ Ipod over the PA to get the atmosphere going before we start.  Then to keep the energy going between sets. . If you prefer you can provide your own CD’s/ipod playlist.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">Can you play during our event dinner/drinks reception as well as providing music for the evening?</a>
          <div class="accordion-content" data-tab-content>
            <p>Yes, this is something we do regularly. Please email us with your requirements. You may prefer to have a smaller combo earlier in the day (i.e. a duo or jazz quartet) and have the rest of the band arrive in the evening.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">How much space do you need?</a>
          <div class="accordion-content" data-tab-content>
            <p>We are adept at fitting into unusual spaces! 5m x 4m for the full 6-piece band is a good size. A stage isn’t necessary although the drummer does require a flat hard surface.  If your marquee company are to provide a stage it is worth just checking that the stage isn’t too high and therefore the band member’s heads disappear into the drapes. Yes this has happened more than once!</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">How much power do you require?</a>
          <div class="accordion-content" data-tab-content>
            <p>We need two double sockets on either side of the stage/band area. The more sockets the better. We require at least two 13 amp sockets fully rated.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">How long do you take to set up?</a>
          <div class="accordion-content" data-tab-content>
            <p>We are adept at fitting into unusual spaces! 5m x 4m for the full 6-piece band is a good size. A stage isn’t necessary although the drummer does require a flat hard surface.  If your marquee company are to provide a stage it is worth just checking that the stage isn’t too high and therefore the band member’s heads disappear into the drapes. Yes this has happened more than once!It usually takes us about 40 minutes to set up, and we aim to arrive an hour before the performance. If you would like us to arrive earlier to set up this is usually possible but may involve a small extra 'waiting fee'.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">What do the musicians need?</a>
          <div class="accordion-content" data-tab-content>
            <p>We require a hot meal when we arrive at the venue and soft drinks, somewhere to change, warm up and store instrument cases.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">Do I need a DJ?</a>
          <div class="accordion-content" data-tab-content>
            <p>Experience has shown that unless you are going to go on until very late a DJ isn’t necessary although we could supply one for an extra charge.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">When is payment due?</a>
          <div class="accordion-content" data-tab-content>
            <p>A 20% deposit will book your date, and the balance is due 14 days before the day of the engagement.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">How far do you travel?</a>
          <div class="accordion-content" data-tab-content>
            <p>Anywhere! We are a London based band and we have travelled all over the world! For gigs more than 2 hours from London we may charge extra for travel and/or provide accommodation.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">Can we come and see you live?</a>
          <div class="accordion-content" data-tab-content>
            <p>Nearly all of our gigs are weddings and private functions, so unfortunately it’s not usually possible.  There are live sound bites on the website and we also have a CD that can be purchased, please ask for details.</p>
          </div>
        </li>

        <li class="accordion-item" data-accordion-item>
          <a class="accordion-title h2" href="#">What do I need to do to book?</a>
          <div class="accordion-content" data-tab-content>
            <p>After you have supplied your details and the details of the venue and event.  We will send you a contract.  Then just return one copy and the deposit cheque or payment via BACS.</p>
          </div>
        </li>

      </ul>

    </div>
    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>
    <div class="cell shrink">
      <div class="page-down shrink"></div>
    </div>
  </div>
</div>
