<div class="section-secondary">
  <div class="container grid-y height-vh">
    <!-- masthead padding  top -->
    <div class="cell auto">
    </div>
    <!-- masthead centered content top -->
    <div class="cell shrink text-center">
      <div class="grid-container grid-padding-y grid-y">
        <div class="cell shrink text-center">
          <p class="info-text"><small>Jukebox</small></p>
          <h1>The Sound of SoulPower</h1>
          <div class="devide-secondary"></div>
          <p>SoulPower is an, energetic and exiting eight to twelve pice band - ideal entertainment for events of all kinds. A dynamic collaboration of talented musicians combining the evolutionary beats of sixties Soul music, 70s Funk and bringing
            it bang up to date for the 21st Century.</p>
          </div>
      </div>


      <!-- start audio player -->
      <audio src="" id="audioPlayer">
          Sorry, your browser doesn't support html5!
      </audio>


      <!-- create playlist -->
      <ul style="margin: 0px" id="playlist">

        <!-- carousel of albums -->
        <div class="album-slick">
        <!-- JS -->
        </div>
      </ul>

      <div>
        <!-- Need Styling -->
        <button class="button v-down"><i class="fas fa-minus"></i></button>
        <button class="button play"><i class="far fa-play-circle"></i></button>
        <button class="button v-up"><i class="fas fa-plus"></i></button>

      </div>

    </div>

    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>

  </div>
</div>
