<div class="section-primary">
  <div class="grid-container grid-y grid-padding-y">
    <!-- masthead padding  top -->
    <div class="cell auto">
    </div>

    <!-- masthead centered content top -->
    <div class="cell shrink text-center">
      <p class="info-text"><small>Testimonials</small></p>
      <div class="devide-primary"></div>
      <h1>Some of the things they're saying about us!</h1>
    </div>

    <div class="fade">
    <!-- JS Testimonials -->
    </div>
    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>

    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>

  </div>
</div>
