<div class="section-primary">
  <div class="grid-container grid-y grid-padding-y">
    <!-- masthead padding  top -->
    <div class="cell auto">
    </div>

    <!-- masthead centered content top -->
    <div class="cell shrink text-center">
      <p class="info-text"><small>Testimonial</small></p>
      <div class="devide-primary"></div>
      <h1>Some of the things they're saying about us!</h1>
    </div>

    <div class="fade">
      <!-- <div>
        <p>Wow! You blew everyone away with your performance at our wedding. We knew you would be good but you were all incredible- we couldn't believe how you managed to keep everyone dancing all night! If a couple want the very best band and music
          - SoulPower is the only band to book.</p>
        <span class="badge wedding">Wedding</span>
      </div>
      <div>
        <p>Thank you for the great session you put together for us on Saturday the feedback from our guests was great and to be honest I’ll be surprised of you don’t get contacted by a few people for further booking. Thanks we really appreciated the
          effort and the quality – it made the night complete!</p>
        <span class="badge corporate">Corporate</span>
      </div>
      <div>
        <p>I think that you are the best Soul band in the UK and I have looked at a lot!</p>
        <span class="badge glastonbury">Glastonbury</span>
      </div>
      <div>
        <p>Just as note to say thank you and the boys for entertaining us so well on Saturday night. The comments I’ve received from staff have been most complimentary, and you certainly added to the wonderful atmosphere</p>
        <span class="badge corporate">Corporate</span>
      </div>
      <div>
        <p>You were absolutely brilliant…you guys What a fantastic band! Your music really was one of the highlights of our Wedding Day. Our guests have all complimented us on you so we must pass on our thanks! You deserved a bigger crowd! Thanks
          again.</p>
        <span class="badge wedding">Wedding</span>
      </div> -->
    </div>
    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>

    <!-- masthead padding  bottom -->
    <div class="cell auto">
    </div>

  </div>
</div>
