$app-dashboard-top-nav-height: rem-calc(55);

.app-dashboard-top-nav-bar  {
  height: $app-dashboard-top-nav-height;
  width: 100%;
  flex: 0 0 $app-dashboard-top-nav-height;
}

// Main Nav Styles
.title-bar {
  height: 70px;
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 100000000;
  .title-bar-inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  div, button {
    z-index: 10000;
  }
  button {
    align-self: center;
  }
}
.title-bar-bg-js {
  background: #0b1632;
}
.top-bar {
  background: #0b1632;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  z-index: 100000;
  .top-bar-left, .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    text-align: center;
    h4 {
      font-size: 1rem;
    }
  }
  ul {
    background: #0b1632;
    color: white;
    width: auto;
    text-align: justify;
    li {
      align-items: center;
      border-bottom: 1px dotted white;
      display: flex;
      height: 100%;
      justify-content: space-between;
      padding: .5rem;
      span {
        align-self: center;
      }
      a {
        display: block;
        line-height: 1rem;
        color: white;
        font-size: 2rem;
        letter-spacing: .3rem;
        transition: .3s;
        &:hover {
          color: #ef604e;
        }
      }
      .is-active {
        // color: $yellow;
      }
    }
  }
  h4 {
    color: white;
  }
}
.top-bar-left {
  width: 40%;
  ul {
    width: 100%;
  }
}
.top-bar-right {
  width: 50%;
}
@include breakpoint(medium down) {
  .top-bar .top-bar-left {
    margin-bottom: 2rem;
  }
}
@include breakpoint(medium only) {
  .top-bar-left {
    width: 100%;
  }
}
@include breakpoint(small only) {
  .top-bar {
    flex-direction: row;
  }
}
