<div class="footer">
  <div class="grid-container grid-y">
    <div class="cell">

      <div class="brand-logo-small" id="footerLogo">
        <object class="soulpower-soul-s footer-logo" data="../../assets/img/soulpower-soul-s.svg" type="image/svg+xml"></object>
        <object class="soulpower-soul-o footer-logo" data="../../assets/img/soulpower-soul-o.svg" type="image/svg+xml"></object>
        <object class="soulpower-soul-u footer-logo" data="../../assets/img/soulpower-soul-u.svg" type="image/svg+xml"></object>
        <object class="soulpower-soul-l footer-logo" data="../../assets/img/soulpower-soul-l.svg" type="image/svg+xml"></object>

        <object class="soulpower-power-p footer-logo" data="../../assets/img/soulpower-power-p.svg" type="image/svg+xml"></object>
        <object class="soulpower-power-o footer-logo" data="../../assets/img/soulpower-power-o.svg" type="image/svg+xml"></object>
        <object class="soulpower-power-w footer-logo" data="../../assets/img/soulpower-power-w.svg" type="image/svg+xml"></object>
        <object class="soulpower-power-e footer-logo" data="../../assets/img/soulpower-power-e.svg" type="image/svg+xml"></object>
        <object class="soulpower-power-r footer-logo" data="../../assets/img/soulpower-power-r.svg" type="image/svg+xml"></object>

        <object class="soulpower-soul-syllable footer-logo" data="../../assets/img/soulpower-soul-syllable.svg" type="image/svg+xml"></object>
        <object class="soulpower-power-syllable-one footer-logo" data="../../assets/img/soulpower-power-syllable-one.svg" type="image/svg+xml"></object>
        <object class="soulpower-power-syllable-two footer-logo" data="../../assets/img/soulpower-power-syllable-two.svg" type="image/svg+xml"></object>
      </div>


      <p class="info-text text-center"><small>Soul Music | Funk | Rythm & Blues</small></p>
      <div class="devide-secondary"></div>

      <ul class="vertical medium-horizontal menu align-center">
        <li><a href="/" target="_self">Home</a></li>
        <li><a href="/what-we-do.html" target="_self">What We Do</a></li>
        <li><a href="/experience.html" target="_self">Experience</a></li>
        <li><a href="/our-sound.html" target="_self">Our Sound</a></li>
        <li><a href="/contact.html" target="_self">Contact</a></li>
        <li><a href="/faqs.html" target="_self">FAQs</a></li>

      </ul>
      <ul class="menu align-center">
        <li><a href="#" target="_self"><object class="social-logo-small" data="../../assets/img/social/icon-facebook.svg" type="image/svg+xml"></object></a></li>
        <li><a href="#" target="_self"><object class="social-logo-small" data="../../assets/img/social/icon-instagram.svg" type="image/svg+xml"></object></a></li>
        <li><a href="#" target="_self"><object class="social-logo-small" data="../../assets/img/social/icon-twitter.svg" type="image/svg+xml"></object></a></li>
        <li><a href="#" target="_self"><object class="social-logo-small" data="../../assets/img/social/icon-youtube.svg" type="image/svg+xml"></object></a></li>
      </ul>

      <p class="text-center"><small>©2018 All Rights Reserved. SoulPower. Site design by: SpaceCowboy</small></p>

    </div>
  </div>

</div>
