<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="xxxlarge">
  <div class="title-bar-inner">
    <div>
      <a href="/">
        <img src="/assets/img/soulpower-sp.svg" alt="SoulPower Logo Small" height="60" width="60">
      </a>
    </div>
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
  </div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown vertical menu" data-dropdown-menu>
      <li>
        <span class="small">01.</span>
        <a class="is-active" href="/">Home</a>
      </li>
      <!-- <li>
        <span class="small">02.</span>
        <a href="/what-we-do.html">What We Do</a>
      </li> -->
      <li>
        <span class="small">02.</span>
        <a href="/experience.html">Experience</a>
      </li>
      <li>
        <span class="small">03.</span>
        <a href="/our-sound.html">Our Sound</a>
      </li>
      <li>
        <span class="small">04.</span>
        <a href="/faqs.html">FAQs</a>
      </li>
      <li>
        <span class="small">05.</span>
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </div>
</div>
