body {
    background-color: $secondary-color;
}


.masthead {
  width: 100%;
  // background: $secondary-color;
  color: $white;
  div#video {
    @include absolute-center;
    z-index: -1;
    width: 100%;
    height: 100%;
    video {
      width: 100%;
    }
  }
  // background: $secondary-color;
  color: $white;
  .logo {
    max-width: 320px;
    height: auto;
  }

  .masthead-images {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
}

// Vinyl

.vinyl {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.groove-style-one {
  fill: none;
  stroke: $primary-color;
  stroke-width: 1;
}

.groove-style-two {
  fill: none;
  stroke: #ffe01b;
  stroke-width: 1;
}

.vinyl-lable {
  fill: #4ED8D9;
}

.vinyl-hole {
  fill: $secondary-color;
}



// SoulFro
// need to clean

#soulfro {
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hair-style-one {
  fill: $primary-color;
  stroke: $secondary-color;
  stroke-width: 5;
}

.hair-style-two {
  fill: #ef1373;
  stroke: $secondary-color;
  stroke-width: 5;
}

#hair1 {
  fill: #ffe01b;
}

.face-one {
  fill: $secondary-color;
}

.st0 {
  fill: #FFE01B;
  stroke: #0B1632;
}

.st1 {
  fill: #4ED8D9;
  stroke: #0B1632;
}

.st2 {
  fill: none;
  stroke: #0B1632;
  stroke-width: 2;
}

.st3 {
  fill: none;
  stroke: #0B1632;
  stroke-width: 2;
}

.st4 {
  fill: none;
  stroke: #0B1632;
}

.headphonewire-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  max-width: 100vh;
  z-index: -2;
}

.headphonewire {
  width: 0.5%;
  height: 50vh;
  display: block;
  background: #ffe01b;
  margin-top: 50vh;
  margin-left: 81%;
}

.headphone-jack-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  z-index: -2;
}

.headphone-jack {
  width: 100%;
  height: 100%;
}
// need to clean







.section-primary {
  color: $white;
  width: auto;
  background: $primary-color;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f06c5c, $primary-color);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f06c5c, $primary-color);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section-secondary {
  background: $light-gray;
  position: relative;
}

.section-tertiary {
  background: $white;
  position: relative;
}

.min-height-vh {
  min-height: 100vh;
}
.artist {
  display: block;
}
.artist-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.artist-name {
  background: #ef604e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f06c5c, #ef604e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f06c5c, #ef604e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  display: block;
  position: absolute;
  bottom: 10%;
  right: 0px;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.brand-logo {
  width: auto;
  max-height: 60px;
  margin: 20px;
}

.brand-logo-small {
  width: 160px;
  height: 34px;
  margin: 30px;
}

.footer-logo {
  position: absolute;
  width: 160px;
  height: 34px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


.info-text {
  font-weight: bold;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.devide-primary {
  margin: auto;
	width: 20px;
	height: 5px;
  transform: rotate(-20deg) skew(-20deg);
	background: $white;
  margin-bottom: 1em;
}

.devide-secondary {
  margin: auto;
	width: 20px;
	height: 5px;
  transform: rotate(-20deg) skew(-20deg);
	background: $primary-color;
  margin-bottom: 1em;
}

.page-down {
  margin: auto;
	width: 40px;
	height: 12px;
  -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(50% 50%, 100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
	background: $primary-color;
  margin-bottom: 1em;
}

.shows {
  line-height: 2.5em;
}

.years {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $primary-color;
  font-weight: 800;
}
.profile {
  height: 100

}

h1#decadesOfExperience {
  position: relative;
}
// Testimonial
.fade {
  p {
    text-align: center;
    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }
  span {
    background: transparent;
    // color: $secondary-color;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .8rem;
    width: 10rem;
    border-radius: 0;
    margin: 0 auto;
    position: relative;
  }
}
.show {
  display: inline;
}
.hide {
  display: none;
}
