{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta-description}}">

    <!-- Open Graph For Social Media -->
    <meta property="og:title" content="{{meta-title}}"/>
    <meta property="og:url" content="www.soulpower.biz"/>
    <meta property="og:description" content="{{meta-description}}" />
    <meta property="og:image" content="{{root}}assets/img/soul-power-og.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Soul Power" />

    <title>{{meta-title}}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
    {{> main-nav}}
    {{> body}}
      {{#ifpage 'our-sound'}}
        {{> dukebox}}
      {{/ifpage}}
      {{#ifpage 'faqs'}}
        {{> faqs}}
      {{/ifpage}}
      {{#ifpage 'contact'}}
        {{> contact-form}}
      {{/ifpage}}
    {{> testimonials}}
    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
